[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
string-color = "*"
kociemba = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
matplotlib = "*"
prettytable = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
